
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arima', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.first-heading {
    background-image: url(images/101.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;
    margin-bottom: 100px;
}
.first-heading-child {
    text-align: center;
    padding-top: 150px;
    color: white;
}
h1 {
    font-size: 50px;
    font-weight: 700;
    color: rgb(240, 17, 17);
    padding-bottom: 40px;
}
.first-btn {
    padding-top: 40px;
}

.second-heading-child-1 {
    text-align: center;
}
.second-heading-child-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.second-heading-child-2 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;   
}
#round-shape {
    border: 1% solid rgb(226, 31, 89);
}
.second-heading-child-3 {
    text-align: center;
}

hr {width: 60%; margin: 0 20% 0 20%;}


.gallery {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    width: 100px;
    height: 200px;
}
.gallery > img {
    margin: 5px;
    padding: 10px;

}
.gallery > img:hover {
    transform: scale(1.5);
}
a {
    text-decoration: none;
    background-color: orange;
    padding: 1% 2%;
    border-radius: 10%;
    color: white;
}


.recipy-title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;

}

.recipy {
    display: flex;
    
}  
.food-item1 {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-left: 5%; 
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    box-shadow: 20px 20px 40px gray;
}

.food-item1 img {
    width: 40%;
    padding-top: 5%;
    padding-bottom: 10%;
    
}

    
.form {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
    box-shadow: 20px 20px 40px gray;
}

.email-form {
    display: flex;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    background-color: rgba(243, 187, 177, 0.781); 
    
}


#subscribe {
    background-color: tomato;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5% 5%;
}